<form #myForm="ngForm">
 <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Change Password</strong>
        </div>
        <div class="card-block">
           <div class="alert alert-success" *ngIf="success">
                <strong>Success!</strong> password changed successfully
              </div>

              <div class="alert alert-danger" *ngIf="failed">
                <strong>Failed!</strong> {{invalidmsg}}
              </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">New Password</label>
                 <input type="password" class="form-control" [(ngModel)]="userpassword" #password="ngModel" id="password" name="password"
                  placeholder="Password">
              </div>
            </div>
          </div>

           <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Confirm Password</label>
              <input type="password" class="form-control" [(ngModel)]="rptpassword" #confirmpassword="ngModel" id="rptpassword" validateEqual="password"
                  name="rptpassword" placeholder="Repeat password">
              </div>
            </div>
          </div>
           <div class="help-block text-danger margin-top" [hidden]="confirmpassword.valid">
                Passwords did not match</div>
          <!--/.row-->
           <div class="form-actions">
              <button type="button" (click)="UpdatePassword(myForm)" class="btn btn-primary">Change password</button>
              <button class="btn btn-default" type="button">Cancel</button>
            </div>
          <!--/.row-->
        </div>
      </div>
    </div>
</div>
</div>
    </div>

 
</form>
