

  
<div class="animated fadeIn">
    <!-- <div class="alert alert-info" *ngIf="dashboard.RemainingDays">
        <strong>Info!</strong> {{dashboard.RemainingDays}} days left to Expired.kindly bring to two people to Qualify the Block movement
  </div> -->

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown placement="bottom right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/components/TotalPE']">Total Member List</a>
            </div>
          </div>
          <h4 class="mb-0">{{dashboard.count}}</h4>
          <p>Total Trips</p>
        </div>
         <div class="chart-wrapper px-1" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
        </div>
      </div>
    </div><!--/.col-->
    <!--/.col-->
    <!--<div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-danger">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown placement="bottom right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
               <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/components/paymentHistory']">Payment History</a>
            
            </div>
          </div>
          <h4 class="mb-0">${{dashboard.paidAmount}}</h4> 
          <p>Paid Points</p>
        </div>
         <div class="chart-wrapper px-1" style="height:70px;">
       
        </div>
      </div> 
    </div>--><!--/.col
  </div><!--/.row-->
  </div>
  </div>
  
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Trip Details</h4>
          <div class="small text-muted"> 2017</div>
        </div><!--/.col-->
      
      </div><!--/.row-->
   
    </div>
    
  <div class="card">
      <div class="row" *ngIf="role=='1'">
          <div class="col-sm-2">
            <div class="form-group">
                <button type="button" data-toggle="myModal" (click)="myModal.show()" class="btn btn-primary">Add Trip</button>
            </div>
          </div>
        </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
      <p-dataTable [value]="grid" [globalFilter]="gb" [rows]="40" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,40,60]"
      [responsive]="true" #dt [stacked]="stacked">
      <p-header>
        <div class="ui-helper-clearfix">
          <button class="btn btn-outline-success active" style="float:left" type="button" iconPos="left" label="CSV" (click)="dt.exportCSV()">Export</button>
        </div>
      </p-header>
      <p-column field="Trip" header="From Location" [sortable]="true"></p-column>
      <p-column field="ToLocation" header="To Location" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true"></p-column>
      <p-column field="amt" header="amount" [sortable]="true"></p-column>
      <p-column styleClass="col-button"   >
          <ng-template let-car="rowData" pTemplate="body">
                <button type="button" class="btn btn-danger"    (click)="book(car);" >Book</button>
            </ng-template>
        </p-column>

    
    </p-dataTable>
  </div>
  </div>
  </div>
  </div>
  
 

</div>
<style>
 
  </style>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Add Trip</h4>
<button aria-label="Close" class="close" (click)="myModal.hide()" type="button">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<div class="alert alert-danger" *ngIf="invalid">
<strong>Failed!</strong> {{invalidmsg}}
</div>
<div class="input-group mb-1" [ngClass]="{ 'has-danger' :user.touched && !user.valid  }">
<span class="input-group-addon"><i class="icon-user"></i></span>
<input type="text" class="form-control" [(ngModel)]="username" name="username" #user="ngModel" required placeholder="Trip Location">
</div>

<div class="input-group mb-1" [ngClass]="{ 'has-danger' :user.touched && !user.valid  }">
  <span class="input-group-addon"><i class="icon-user"></i></span>
  <input type="text" class="form-control" [(ngModel)]="tolocation" name="username1" #user1="ngModel" required placeholder="To Location">
  </div>
  


<div class="input-group mb-1" >
<span class="input-group-addon"></span>
<p-calendar [(ngModel)]="date1" name="sdfdsf"></p-calendar> 
</div>
</div>


<div class="input-group mb-1" >
 <span class="input-group-addon"><i class="fa-phone"></i></span>
 <input type="text" class="form-control" [(ngModel)]="amt" name="phone1"
   #userphone1="ngModel" required placeholder="Amount">
</div>





<!--<div class="input-group mb-2" [hidden]="!(personSales==2) ">
<span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
<input type="text" class="form-control" [(ngModel)]="noOfPurchase" name="noOfPurchase" placeholder="No of Purchase">
</div>


<div class="input-group mb-2" [ngClass]="{ 'has-danger' :amt.touched && !amt.valid  }">
<span class="input-group-addon"><i class="fa fa-euro"></i></span>
<input type="text" class="form-control" [(ngModel)]="address1" name="address1" #amt="ngModel" required placeholder="Address 1">
</div>-->

<!--<div class="input-group mb-1">
<span class="input-group-addon"><i class="icon-user"></i></span>
<input type="text" class="form-control" [(ngModel)]="address2" name="address2" placeholder="Address 2">
</div>-->
<div class="input-group mb-1">
<button type="button" class="btn btn-block btn-success" (click)="Register(myForm);myModal.hide();">Add Trip</button>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" (click)="myModal.hide()" type="button">Close</button>

</div>
</div>
</div>

